body {
    width: 100vw;
    height: 1515px;

    background: var(--white);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    body {
        height: 1250px;
    }
}