@import url('./content.css');
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    
    src: url('../fonts/Montserrat-Medium.ttf');
}

:root {
    --white: #F9F9F9;
    --white-200: #EBE9EA;
    --gray: #474747;
    --black-light: #181818;
}