header {
    width: 100%;
    height: 498px;
}

.header__promo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;

    background: var(--black-light);
}

.header__promo p {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    line-height: 195%;

    color: var(--white);
}

.header__nomeLoja {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
}

.header__nomeLoja h3 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 24px;
    line-height: 196.19%;

    color: var(--black-light);
}

.header__banner {
    position: relative;
    height: 378px;

    background-image: url('../images/wallpaper.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__banner::before {
    position: absolute;
    z-index: 1;
    inset: 0;

    content: '';
    background: var(--black-light);
    opacity: 0.6;
}

.header__banner h2 {
    position: relative;
    z-index: 2;

    padding-left: 100px;
    padding-top: 129px;

    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 32px;
    line-height: 39px;

    color: var(--white);
}

.header__banner p {
    position: relative;
    z-index: 2;

    max-width: 570px;

    padding-left: 100px;
    padding-top: 19px;

    font-family:'Montserrat-SemiBold', sans-serif;
    font-size: 18px;
    line-height: 35px;

    color: var(--white);
}

@media (max-width: 1024px) {
    header {
        height: 330px;
    }

    .header__promo, .header__nomeLoja {
        height: 40px;
    }

    .header__banner {
        height: 250px;
    }

    .header__promo p {
        font-size: 14px;
    }

    .header__nomeLoja h3 {
        font-size: 22px;
    }

    .header__banner h2 {
        padding-left: 40px;
        padding-top: 70px;
    
        font-size: 24px;
        line-height: 190.16%;
    }

    .header__banner p {
        max-width: 400px;
    
        padding-left: 40px;
    
        font-size: 14px;
        line-height: 190.16%;
    }
}
